#!/bin/bash
set -e

syslinux='{{syslinux}}'
pxedir='{{pxedir}}'
tftpdir='{{tftpdir}}'
osdir='{{osdir}}'
cfgdir='{{cfgdir}}'

mkdir -p "${tftpdir}"
mkdir -p "${tftpdir}/${pxedir}"
mkdir -p "${tftpdir}/${pxedir}/${cfgdir}"
mkdir -p "${osdir}"

dest="${tftpdir}/${pxedir}"
cd "${syslinux}"

for f in pxelinux.0 *.c32
do 
    n=$(basename "${f}")
    [[ -f "${dest}/${n}" ]] || cp "${f}" "${dest}/"
done
