# rsyslog configuration file
$LocalHostName {{grains.host}}

# provides support for local system logging (e.g. via logger command)
module(load="imuxsock"          
       SysSock.Use="on"
       SysSock.RateLimit.Interval="0"
       SysSock.RateLimit.Burst="40000" )

# provides access to the systemd journal
module(load="imjournal"           
       StateFile="imjournal.state"
       IgnorePreviousMessages="off"
       ratelimit.interval="0"
       ) # File to store the position in the journal

#module(load="imklog") # reads kernel messages (the same are read from journald)
#module(load"immark") # provides --MARK-- message capability

# Where to place auxiliary files
global(workDirectory="/var/lib/rsyslog")

# Use default timestamp format
module(load="builtin:omfile" Template="RSYSLOG_TraditionalFileFormat")

$IncludeConfig /etc/rsyslog.d/*.conf
