{%- if 'printers' in cups and cups.printers %}
{%-     set printers = cups.printers %}
{#-     # NOTE - the keys are sorted in order to give an order stable between runs #}
{%-     set sorted_keys = printers.keys()|sort %}
{%-     set defaults = printers.defaults if 'defaults' in printers else {} %}
{%-     set default_properties = defaults.properties if 'properties' in defaults else {} %}
{%-     for printer_name in sorted_keys %}
{%-         if printer_name != 'defaults' %}
{%-             set printer = cups.printers[printer_name] %}
{%-             set tag_prefix = 'Default' if 'printer_default' in cups and cups.printer_default == printer_name else '' %}
{%-             set properties_sequence = 'Accepting,Shared,JobSheets,QuotaPeriod,PageLimit,KLimit,OpPolicy,ErrorPolicy'.split(',') %}
{%-             set properties = {} %}
{%-             do properties.update(default_properties) %}
{%-             if 'properties' in printer %}
{%-                 do properties.update(printer.properties) %}
{%-                 for prop_name, prop in printer.properties.iteritems() %}
{%-                 endfor %}
{%-             endif %}
{#- #}<{{tag_prefix}}Printer {{printer_name}}>
Info {{printer.Info}}
MakeModel {{printer.MakeModel}}
DeviceURI {{printer.uri_type}}{{printer.uri_path}}
{%- for prop_name in properties_sequence %}
{{prop_name}} {{properties[prop_name]}}
{%- endfor %}
{%- if 'other_config' in printer %}
{{printer.other_config}}
{%- endif %}
</Printer>
{%          endif -%}
{%-     endfor -%}
{%- endif -%}