# my global config
global:
    scrape_interval:     {{config.global.scrape_interval}} # Set the scrape interval to every 15 seconds. Default is every 1 minute.
    evaluation_interval: {{config.global.evaluation_interval}} # Evaluate rules every 15 seconds. The default is every 1 minute.
    # scrape_timeout is set to the global default (10s).

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
    # - "first_rules.yml"
    # - "second_rules.yml"

scrape_configs:

{%- set node_exporter = config.node_exporter if 'node_exporter' in config else {} %}
{%- if node_exporter %}
{%-     set lists_key = node_exporter.node_lists_key if 'node_lists_key' in node_exporter else '' %}
{%-     set lists = salt['pillar.get'](lists_key,{}) if lists_key else {} %}
{%-     if lists %}
    # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
    - job_name: 'node_exporter'

      static_configs:
          {%- for list_name, items in lists.iteritems() %}
          {%-   if items %}
          - labels:
                group: {{list_name}}
            targets: 
                {%- for hostname in items %}
                - {{hostname}}:9100
                {%- endfor %}
          {%-   endif %}
          {%- endfor %}

{%-     endif %}
{%- endif %}
