# In this quickstart configuration, nexus is assumed (if available at all) to be running on the host, not the VM.
ss.ADD_HOST=192.168.121.1,gateway,nexus.demo.com,nexus
ss.ADD_HOST=192.168.121.101,infra.demo.com,infra,salt,ipa,ldap

ss.BOOTSTRAP_REPOS=bootstrap-centos-interwebs.repo
ss.DISABLE_REPOS=

ss.TIMEZONE=UTC

ss.IPADDR=192.168.121.101
ss.IPPREFIX=24
ss.IPADDRS=192.168.121.101/24
ss.GATEWAY=192.168.121.1
# For quickstart, assume nexus is running on the host
ss.NEXUS=192.168.121.1:7081
ss.NAMESERVER=192.168.121.1
# This configuration is for a vagrant image. The eth0 device is left as a vagrant-managed device.
# The second network interface is configured as we desire.
ss.SKIP_NETDEV=eth0 
ss.NETDEV=eth1

ss.STANDALONE=0
ss.INSPECT=0
ss.DEVELOPMENT=0
ss.WAIT=0
ss.INTERACTIVE=0

ss.ROLES=role-set:quickstart-infra-server-node
ss.LAYERS=soe:demo,site:testing,lan:qemu,private:example

# For a quickstart configuration no bundled files are available (BUNDLED_SRC is empty)
ss.BUNLDED_SRC=
# For a USB build, BUNDLED_SRC will be the /e/bundled already copied onto the system
#ss.BUNDLED_SRC=/e/bundled
# For a standalone test configuration, assume a http server is running from the 'bundled' folder in the host (run 'make bundled-server')
ss.BUNDLED_SRC=http://192.168.121.1:9999

#Default password here is 'password' - this should be changed before deployment
ss.ROOT_PW=$1$NxR2J0fM$QS2U2lrQxpDAlb9JPWB2v/

ss.DOCKER_REGISTRIES=nexus:7082,nexus:7083,nexus:7084,nexus:7085

ss.ADD_NETDEV=eth0,skipped
ss.ADD_NETDEV=eth1,ethernet,gateway=192.168.121.1,ipaddrs=192.168.121.101/24,192.168.121.103/24
ss.ADD_NETDEV=wlan0,wireless,ssid=TEST,psk=176fbaaee7c74be655c040815202e4bd2550c513a6ca8a7ba610ac9c63833b27,gateway=192.168.188.1,ipaddrs=192.168.188.8/24
# Although this quickstart cfg is not an all-in-one (relies on external quickstart) it should still be a salt master
ss.SALT_TYPE=master
