ENV={{container.env|join(" ") if ('env' in container and container.env) else ''}}
TZ={{'--env TZ='~pillar.timezone if 'timezone' in pillar and pillar.timezone else ''}}
PORTS={{container.ports|join(" ") if ('ports' in container and container.ports) else ''}}
VOLUMES={{container.volumes|join(" ") if ('volumes' in container and container.volumes) else ''}}
DOCKER_OPTIONS={{container.docker_options if ('docker_options' in container and container.docker_options) else ''}}
RM={{'--rm' if ('rm' in container and container.rm) else '' }}
ENTRYPOINT={{'--entrypoint ' ~ container.entrypoint if ('entrypoint' in container and container.entrypoint) else ''}}
IMAGE={{image_prefix}}{{container.image}}
OPTIONS={{' '.join(container.options) if('options' in container and container.options) else ''}}
STOP_OPTIONS={{' '.join(container.stop_options) if('stop_options' in container and container.stop_options) else ''}}
