# THIS FILE NO LONGER USED
[Unit]
Description=Nginx reverse proxy server
After=NetworkManager-wait-online.service network.target docker.service

[Service]
Environment="PORTS=-p 8080"
Environment=VOLUMES=
Environment=IMAGE=nginx:1.15.3
Environment=OPTIONS=
EnvironmentFile=-/etc/sysconfig/%p
ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p $PORTS $VOLUMES $IMAGE $OPTIONS
ExecStop=/usr/bin/docker stop %p
Type=simple
User=root
Group=root
UMask=0007

[Install]
WantedBy=multi-user.target
