#!/bin/bash

# Generate some passwords and save them in encrypted storage
# which can be decrypted with the salt-secret script

. /usr/local/bin/lib-ss-crypto.sh

verbose=1

crypto::generate-secrets::main "${@}"
