#!/bin/bash

. /usr/local/bin/lib-ss.sh || exit 1
. /usr/local/bin/lib-ipa.sh || die "Failed loading lib-ipa"

[[ -n "${IPA_BASE_DN}" ]] || die "The IPA tools are not configured."

msg "You will need the Directory Manager password."
msg "You will first be prompted to enter the new 'admin' password,"
msg "and will then be asked to enter the LDAP password (directory manager password)"
msg "in order to allow the admin password to be changed."
msg " (ie the order of password entry may be different than you expect)."
msg ""

msg "NOTE: This script is for changing the password if it has been lost/forgotten/inadvertantly changed."
msg "      If you still know the current password, use a regular password change as the admin user account."
msg 
read -p "Hit enter if you wish to continue."

export LDAPTLS_CACERT=/etc/ipa/ca.crt
ldappasswd -ZZ -D 'cn=directory manager' -W -S "uid=admin,cn=users,cn=accounts,${IPA_BASE_DN}" -H "ldap://${IPA_SERVER}"

msg "We will now test logging in with the new password:"
if ! kinit admin
then 
    err "The login seemed to fail. You might need to try again."
    exit 1
else 
    msg "Listing tickets:"
    klist 
fi
