{%- set init       = config['initial-setup'] if 'initial-setup' in config else {} %}
{%- set accounts   = init.accounts           if 'accounts'      in init     and init.accounts         else {} %}
{%- set globalconf = init['global-config']   if 'global-config' in init     and init['global-config'] else {} %}
{%- set emaildomain = globalconf.defaultemaildomain if 'defaultemaildomain' in globalconf else  pillar.network.system_domain %}
{%- set send_email     = 1 if ('send-email' in accounts and ( accounts['send-email'] and accounts['send-email'] not in ['0','no','off','unset']) and accounts['send-email']) else 0 %}
{%- set default_groups = accounts['default-groups'] if 'default-groups' in accounts else [] %}
{%- set domain = config.domain if 'domain' in config else '' %}
{%- set base_dn = 'dc='~',dc='.join(domain.split('.')) if domain else '' %}
IPA_SERVER="{{config.server if 'server' in config else ''}}"
IPA_SERVER_IP="{{config.server_ip if 'server_ip' in config else ''}}"
IPA_REALM="{{config.realm if 'realm' in config else ''}}"
IPA_BIND_USER="{{config.bind_user if 'bind_user' in config else ''}}"
IPA_BASE_DN="{{config.base_dn if 'base_dn' in config else ''}}"
IPA_REVERSE_ZONE="{{config.reverse_zone if 'reverse_zone' in config else ''}}"
IPA_ZONE="{{domain}}"
IPA_DOMAIN="{{config.domain if 'domain' in config else ''}}"
IPA_DEFAULT_SITE="{{config.default_site if 'default_site' in config else ''}}"
IPA_SITE="{{config.site if ('site' in config and config.site not in ['','unset',None]) else config.default_site if 'default_site' in config else 'default'}}"
IPA_DEFAULT_GROUPS=( {{default_groups|join(" ")}} )
IPA_PW_SEND_EMAIL="{{send_email}}"
IPA_DEFAULT_EMAIL_DOMAIN="{{emaildomain}}"
IPA_EMAIL_DOMAIN="{{emaildomain if emaildomain else pillar.network.system_domain}}"
IPA_NODE_TYPE="{{node_type}}"
IPA_CLIENT_OR_SERVER="{{client_or_server}}"
IPA_BASE_DN="{{base_dn}}"
