[Unit]
Description=Nexus mirror
After=syslog.target network.target NetworkManager-wait-online.service docker.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /d/local/data/%N
ExecStartPre=/bin/chown 200.200 /d/local/data/%N
ExecStart=/bin/docker run --rm --name %N -p 0.0.0.0:7081-7085:8081-8085 -v /d/local/data/%N:/nexus-data sonatype/nexus3:VERSION
User=root

[Install]
WantedBy=multi-user.target
