[Unit]
Description=Soestack postinstall provisioning (enrol and apply state)
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/soestack/provision/common/provision.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


