#!/bin/bash

. /usr/local/bin/lib-ss.sh
. /usr/local/bin/lib-ipa.sh

CLIENT_HOSTNAME="{{grains.fqdn}}"
IPA_SITE="{{grains.ipa.site}}"
IPA_SITE="${IPA_SITE:-${IPA_DEFAULT_SITE}}"
DEBUG='{{DEBUG}}'

function die()
{
    echo "ERROR: ${*}" 1>&2
    exit 1
}

function uninstall_first()
{
    if [[ -f /var/log/ipa-client-install.log ]]
    then
        ipa-client-install --uninstall -U 
    fi
}

install_client()
{
    local -a options=(
    
    # Unattended
    -U

    # Basic options
    --domain="${IPA_DOMAIN}"
    --server="${IPA_SERVER}"
    --realm="${IPA_REALM}"
    --hostname="${CLIENT_HOSTNAME}"

    # Client options
    --configure-firefox
    --mkhomedir
    --force-join
    --ntp-server "${IPA_SERVER}"
    --force-ntpd
    --no-nisdomain
    --ssh-trust-dns
    --request-cert
    --fixed-primary
    --enable-dns-updates
    --automount-location="${IPA_SITE}"

    --verbose 
    )

    # The installation is performed with selinux disabled 
    # and the firewall rules flushed, because it has troubles otherwise.
    # The rules it requires can be configured after

    setenforce 0
    iptables -F
    iptables -nvL

    ${DEBUG} ipa-client-install -U "${options[@]}" -w "$(salt-secret ipa_client_enrol)"

    setenforce 1
    systemctl restart iptables
    
}

uninstall_first

install_client

