#!/bin/bash
# This script 'upgrades' plaintext passwords (from installation-time) to encrypted passwords
pwfile=/etc/sysconfig/ipa-passwords
if [[ -s "${pwfile}" ]]
then 
    . "${pwfile}"
    for pw_name in master admin ds
    do
        varname="${pw_name}_password"
        pwvalue="${!varname}"

        if [[ "${pwvalue#salt-secret:}" == "${pwvalue}" ]]
        then
            # The password is non-empty and is not yet a salt secret
            if [[ -n "${pwvalue}" ]] 
            then
                secret_name="pw-ipa-${pw_name}"
                salt-secret -master -save "${secret_name}" -stdin <<< "${pwvalue}"
                # Update the file to refer to the secret
                sed -r -i "s/^(${varname})=(.*)/\1=salt-secret:${secret_name}/" "${pwfile}"
            fi
        fi
    done
fi
