{%- set privilege_required = [] %}
{%- if 'ports' in container and container.ports %}
{%-     for port in container.ports %}
{%-         if port|regex_search('(^|([^:]+):)([0-9]{1,3}|10[01][0-9]|102[0-4])($|:)') %}
{%-             do privilege_required.append(port) %}
{%-         endif %}
{%-     endfor %}
{%- endif %}
{%- set privilege_flag='--privileged --cap-add net_bind_service ' if privilege_required else '' -%}
[Unit]
Description={{container.description if ('description' in container and container.description) else service_name}}
After=NetworkManager-wait-online.service network.target docker.service

[Service]
Environment=DOCKER_OPTIONS=
Environment=PORTS=
Environment=VOLUMES=
Environment=ENTRYPOINT=
Environment=IMAGE=
Environment=OPTIONS=
Environment=ENV=
Environment=RM=--rm
EnvironmentFile=-/etc/sysconfig/%p
ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run $(RM) --name %p {{privilege_flag}} $TZ $DOCKER_OPTIONS $PORTS $VOLUMES -v /etc/localtime:/etc/localtime $ENTRYPOINT $IMAGE $OPTIONS
ExecStop=/usr/bin/docker stop %p
Type=simple
User=root
Group=root
UMask=0007

[Install]
WantedBy=multi-user.target
